/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #000000;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
html,
body {
   height:100%;
}


@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.ui-draggable, .ui-droppable {
	background-position: top;
}

.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }
  /* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
* html .ui-autocomplete {
    height: 100px;
}

.main-headshot {
  width:100%;
}

.index-headshot{
  width:245px;
}

.neighbor-headshot {
  width:100px;
}

.container{
    width:80% !important;
    padding-top:30px;
    padding-bottom:165px;
    height:100%;

}

#outer_container{
    min-height:100%;
    position:relative;
}

.center{
  text-align: center;
}

.header{
  vertical-align: middle;
  padding:15px 30px;
  background-color: rgb(0, 0, 0);
}

.padding-20{
  padding:20px;
}

.bottom_parent{
  position:relative;
  height:200px;
}
.bottom{
  position: absolute;
  bottom:0;
}
.padding-top-bottom{
  padding-top:15px;
  padding-bottom:15px;
}

.title{
  text-align: left;
}
.input-bar{
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: right;
}

.half-width{
  width:70%;
}

#cluster-no-blue{
  color: darkblue;
  font-size:16px;
  outline:none !important;
}

.no-blue {
    outline:none !important;
}

.padding-top{
  padding-top:15px;
}

#go-button{
  bottom:2px;
  margin-top:5px;
  margin-left:5px;
  margin-bottom:5px;
}

.logo{
  width:120px;
  padding: 5px 10px;
}

.logo-mainpage{
  width:80px;
  padding: 5px 10px;
  padding-left:0px !important;
}

.stats{
  width:70%;
  margin:0 auto;
}

#shotchart{
    width: 466px;
    height:516px;
}

#game_log{
    width:50%;
}
.white-color{
  color:white;
}

.footer-distributed {
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 12px sans-serif;
	position: absolute;
	bottom: 0;
    max-height:165px;
	padding: 20px;

}

.blue_hover:hover{
    color:dodgerblue !important;
}

#hover:hover{
    color:dodgerblue !important;
}

.footer-distributed .footer-left p{
	color:  #8f9296;
	font-size: 12px;
	margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links{
	font-size:14px;
	font-weight: bold;
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer-distributed .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-left: 3px;
}

.name{
    padding-right:6px !important;
    color:dimgrey !important;
    top:0 !important;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		text-align: center;
	}

	.footer-distributed .footer-right{
		float: none;
		margin: 0 auto 20px;
	}

	.footer-distributed .footer-left p.footer-links{
		line-height: 1.3;
	}
}
